<!DOCTYPE html>

{% extends "base.html" %} 

{% block body %}


<main>
    <section id="books">
      <h2>Recently added books</h2>
      <div class="mv3">
        <div class="normal f3"><a href="">
            {{book_list}}
        <p class="lh-copy">
            {{book_list}}
            Think Python: How to Think Like a Computer Scientist by Allen Downey
            


        </p>
        <div class="flex">
          <div class="mr2 pr2 bw1 br green">
            {{num_fav}}
          </div>
          <div class="mr2 pr2 bw1 br">
            {{date_adde}}
          </div>
          <div>
            Category: <a href="">{{category}}</a>
          </div>
        </div>
      </div>
    
  
        <div class="w-25 ml5">
          <img src="">
        </div>
      </div>
    </section>
  </main>







{% endblock %}
